.correct{
    background-color: #dffff2;
    border-color: #00d397;
}

.wrong{
    background-color: #ffebeb;
    border-color: #ff4a4a;
}

.active{
    animation: progress 5s linear forwards;
}
@keyframes progress {
    0%{
        width: 0%;
        background:#fe532f;
    }
    /* 79%{
        width: 79%;
        background:#fe532f;
    }
    80%{
        width: 80%;
        background:#fe532f;
    } */
    100%{
        width: 100%;
        background:#fe532f;
    }
    
}